
*{
  padding: 0;
  margin: 0;
}


/** cores
amarelo: #ffdf5e
preto (cinzento-escuro): #121212
cinza: #a9a9a9 **/

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    width:100%;
    overflow: hidden;
    background: #ffdf5e;
}
.nav li{
    display:inline;
    margin: auto;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    float: left;
    color: #121212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content{
    width: 960px;
    margin: auto;
    padding: 0 25PX;
}

.post{
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  border: 5px solid #a9a9a9;
  border-radius: 10px;
  border-style: double;
}


 .post-date{
   color: #d2d2d2;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 0.1em;
 }

 h1, h2, h3, h4{
   color: #333;
 }

p {
  line-height: 1.5;
}

.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 20px;
}


.post-content .lermais {
    background: #d2d2d2;
    color: #121212;
    padding:5px;
}
.rodape{
  text-align: center;
  background: #ffdf5e;
  color: #121212;
  padding: 15px;
  width: 100%;
  margin: auto;
}

footer h4{
    color: #121212;
    text-transform: uppercase;
}

footer a{
  text-decoration: none;
  color: #121212;

}

footer a:visited a:active a:link{
  text-decoration: none;
  color: #121212;
}

footer a:hover{
  background-color: #ddd;
  color: black;
  text-decoration: none;
  padding: 0 16px;

}

.column{
  min-width: 300px;
  max-width: 650px;
  display: inline-block;
  vertical-align: top;
}
